<template>
  <div class="navbar">
    <div class="navbar__logo">
    </div>

    <div class="navbar__links">
      <div class="navbar__left-wrapper">
        <router-link to="/" class="navbar__link">HOME</router-link>
        <router-link :to="currentYearMonthToCalendarUrl()" class="navbar__link">지출내역(캘린더)</router-link>
        <router-link to="/withdrawal?page=1" class="navbar__link">지출내역</router-link>
        <router-link :to="currentYearMonthToMonthUrl()" class="navbar__link">지출내역(월)</router-link>
        <router-link to="/withdrawal/new" class="navbar__link">지출기록</router-link>
      </div>

      <div class="navbar__right-wrapper">
        <router-link to="/signin" class="navbar__link">로그인</router-link>
        <router-link to="/signup" class="navbar__link">회원가입</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    currentYearMonthToMonthUrl () {
      const now = new Date();

      return `/withdrawal/month?year=${now.getFullYear()}&month=${now.getMonth() + 1}`;
    },
    currentYearMonthToCalendarUrl () {
      const now = new Date();

      return `/withdrawal/calendar?year=${now.getFullYear()}&month=${now.getMonth() + 1}`;
    },
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  &__links {
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
  }
  &__left-wrapper,
  &__right-wrapper {
    a {
      margin-left: 15px;
    }
  }
}
</style>
