<template>
  <div id="nav">
    <navbar></navbar>
  </div>
  <router-view/>
</template>

<script>
import Navbar from './components/common/navbar.vue';

export default {
  components: {
    'navbar': Navbar
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
ul {
  list-style: none;
  padding-left: 0px;
}
a { 
  color: #2c3e50;
  text-decoration: none 
} 
</style>
